
<div id="myForm">
    <h1>{{text}}</h1>
    {{#if form}}
<form action="/" method="get">

    <input type="text" placeholder="city" name="city">
    <input type="submit">
</form>
{{/if}}
  <p class="par">{{cityName}}</p>
  <p class="par">{{lat}}</p>
  <p class="par">{{lon}}</p>
  <p class="par">{{para}}</p>
  <img id="image" src="{{src}}">
</div>

 